.search {
    flex: 0 0 40%;
    display: flex;
    justify-content: center;
    align-items: center;

    &__input {
        font-family: inherit;
        font-size: inherit;
        color: inherit;

        width: 90%;
        padding: 0.7rem 2rem;
        background-color: var(--color-grey-light-2);
        border-radius: 100px;
        border: none;
        transition: all 0.3s;

        margin-right: -3.25rem;

        &:focus {
            outline: none;
            width: 100%;
            background-color: var(--color-grey-light-3);
        }

        &::-webkit-input-placeholder {
            font-size: 1.4rem;
            font-weight: 100;
            color: var(--color-grey-light-4);
        }
    }

    &__input:focus+&__btn {
        background-color: var(--color-grey-light-3);
    }

    &__btn {
        border: none;
        background-color: var(--color-grey-light-2);

        &:focus {
            outline: none;
        }

        &:active {
            transform: translateY(-2px);
        }
    }

    &__icon {
        height: 2rem;
        width: 2rem;
        fill: var(--color-grey-dark-3);
    }
}